.env
__pycache__/
*$py.class
pip-log.txt
pip-delete-this-directory.txt
secrets.yml
.DS_Store
venv/
.idea/
test.py/
/results/*
LLMTool.py
agent_dummy.py
main_sync.py
*.jsonl
*.yml
test.py
post_process.py